@import 'styles/screen.scss';

.page {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider {
  margin-left: 60px;
  
  @media ($xs) {
    margin-left: calc((100vw - 300px) / 2);
  }
}
